* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 25px;
  font-family: 'montserrat', sans-serif;
  font-weight: 600;
  color: white;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  justify-content: center;

  background: #fff;
  padding: 40px;
  box-shadow: 0 0 10px rgba(128, 118, 118, 0.25);
  flex-direction: column;
  gap: 20px;
  border-radius: 0 0 8px 8px;
}

.form-header {
  background: #E36969;
  font-weight: 600;
  font-size: 18px;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 8px 8px 0 0;
  font-family: 'montserrat', sans-serif;
  box-shadow: 0 0 10px rgba(128, 118, 118, 0.25)
}

.form {
  background: #fff;
  width: 658px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(128, 118, 118, 0.25);
  transform: translateY(20px);
  transition: opacity 1s ease, transform;
  display: none;
}

.form.show {
  display: block;
  transform: translateY(0);
}

hr {
  border: 0;
  height: 1px;
  background: #b9b6b6;
  margin: 20px 0;
  /* Adiciona espaçamento acima e abaixo da linha */
}

.inline-fields {
  display: flex;
  width: 100%;
  gap: 15px;
}

.boxField {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.boxField label {
  font-size: 14px;
  font-family: 'montserrat', sans-serif;
  font-weight: 600;
  color: #6F6F6F;
}

.boxField input {
  height: 42px;
  border-radius: 10px;
  border: 1px solid #DDDDDD;
  outline: none;
  color: #6F6F6F;
  padding: 20px;
}

.cep-input {
  width: 282px;
}


li {
  transition: 0.5s ease;
  transform: scale(1.01);
}

li:active {
  transform: scale(0.95);
  transition: 0.5s ease;
}

.submitButton {
  color: white;
  background: #E36969;
  border: none;
  border-radius: 10px;
  height: 42px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

.submitButton:hover {
  transition: 0.5s ease;
  transform: scale(1.01);
}

.submitButton:active {
  transform: scale(0.95);
  transition: 0.5s ease;
}

form .error {
  display: none;
  color: red;
  font-family: 'montserrat', sans-serif;
  font-size: 12px
}

form input {
  border-color: red
}

form .field-error-active {
  display: block;
}

.loader {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: none;
  border-top: 3px solid #FFF;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.show {
  display: inline-block;
}

.invisible {
  display: none;
}

.submitButton:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.spinner {
  display: none;
  border: 16px solid #f3f3f342;
  border-top: 16px solid #E36969;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}