.titleContainer {
  width: 100%;
  background: #E3BD69;
  padding-top: 80px;
  height: 242px;
}

.title {
  text-align: center;
  font-size: 25px;
  font-family: 'montserrat', sans-serif;
  font-weight: 600;
  color: white;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form {
  background: #fff;
  width: 658px;
  margin-top: -80px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(128, 118, 118, 0.25);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.boxField {
  display: flex;
  flex-direction: column;
}

.boxField label {
  font-size: 14px;
  font-family: 'montserrat', sans-serif;
  font-weight: 600;
  color: #6F6F6F;
}

.boxField input {
  height: 42px;
  border-radius: 10px;
  border: 1px solid #DDDDDD;
  outline: none;
  color: #6F6F6F;
  padding: 20px;
}

.checkboxField {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkboxField label {
  font-size: 14px;
  font-family: 'montserrat', sans-serif;
  font-weight: 600;
  color: #6F6F6F;
}

.checkboxField input {
  height: 15px;
  width: 15px;
  border-radius: 3px;
  border: 1px solid #DDDDDD;

}

.accountExists {
  font-size: 12px;
  font-family: 'montserrat', sans-serif;
  font-weight: 600;
  color: #AEAEAE;
}

.accountExists a {
  text-decoration: none;
  color: #0E00CF;
}
.submitButton{
  color: white;
  background: #E3BD69;
  border: none;
  border-radius: 10px;
  height: 42px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

.submitButton:hover {
  color: white;
  background: #E3BD69;
  border: none;
  border-radius: 10px;
  height: 42px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: 2s ease;
  transform: scale(1.03);
}

.submitButton:active{
  background-color: darkkhaki;
  transform: scale(0.8);
}

form p {
  display: none;
  color: red;
  font-family: 'montserrat', sans-serif;
  font-size: 12px
}

form input{
  border-color: red
}

form .field-error-active {
  display: block;
}