* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}



.title {
    text-align: center;
    font-size: 25px;
    font-family: 'montserrat', sans-serif;
    font-weight: 600;
    color: white;
  }
  
  .content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin-top: 60px
  }
  
  .form-container{
    justify-content: center;
    background: #fff;
    width: 658px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(128, 118, 118, 0.25);
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 0 0 8px 8px;
  }
  
  .form-header{
    background: #E36969;
    font-weight: 600;
    font-size: 18px;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px 8px 0 0;
    font-family: 'montserrat', sans-serif;
    box-shadow: 0 0 10px rgba(128, 118, 118, 0.25)
  }
  
  .form {
    background: #fff;
    margin-left: 380px;
    width: 658px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(128, 118, 118, 0.25);
    height: calc(100vh - 245px)
  }

  hr {
    border: 0;
    height: 1px;
    background: #555;
    margin: 20px 0; /* Adiciona espaçamento acima e abaixo da linha */
}

  .inline-fields{
    display: flex;
    width: 100%;
    gap: 15px;
  }
  
  .boxField {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .boxField label {
    font-size: 14px;
    font-family: 'montserrat', sans-serif;
    font-weight: 600;
    color: #6F6F6F;
  }
  
  .boxField input {
    height: 42px;
    border-radius: 10px;
    border: 1px solid #DDDDDD;
    outline: none;
    color: #6F6F6F;
    padding: 20px;
  }

  .cep-input {
    width: 282px;
  }
  

li {
    transition: 0.5s ease;
    transform: scale(1.01);
}
  
li:active {
    transform: scale(0.95);
    transition: 0.5s ease;
}

.submitButton{
  color: white;
  background: #E36969;
  border: none;
  border-radius: 10px;
  height: 42px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

.submitButton:hover {
  transition: 0.5s ease;
  transform: scale(1.01);
}

.submitButton:active{
  transform: scale(0.95);
  transition: 0.5s ease;
}