details {
    user-select: none;
    border-radius: 10px;
    background-color:#ffffff;
    padding: 15px;
    box-shadow: 0px 5px 5px #0000001A;
    border: 1px solid #E5E5E5;
    width: 100%;
  }
  
  summary {
    display: flex;
    cursor: pointer;
    gap: 10px;
    align-items: center;
    width: 100%;
  }
  
.list-header {
     width: 100%;
    background-color: #E36969;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
}

.list-header > h3{
font-size: 16px;
font-family: "Montserrat";
color: #fff;
font-weight: 600;
}

.more_address_infos {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin-top: 100px;
}
.space-svg {
    display: flex;
    gap: 15px;
}

.space-svg > button{
    outline: none;
    border: none;
    background-color: #ffffff;
}

.list_address{
    list-style: none;
}

.list_address li {
    width: 100%;
    margin-top: 10px;
}
