.header {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  display: flex;
  background: #fff;
}

.logo {
  justify-content: space-between;
  font-family: 'Original Surfer', sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #890808;
  width: 355px;
  line-height: 40px;
  font-size: 50px;
}

.menuOptions {
  list-style: none;
  display: flex;
  gap: 60px;
}

.menuOption a {
  text-decoration: none;
  color: #252B42;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.option-active a {
  color: #e36969;
}

.hero-image{
  width: 90vw;
  height: 601px;
  margin: 0 auto;
  position: relative;
}

.hero-image img{
  width: 100%;
  border-radius: 10px;
}

.hero-image p{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 58px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}