main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
}

.infos {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 475px;
}

.title {
  color: #E36969;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 600;
}

.description {
  font-size: 18px;
  color: #6F6F6F;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;

}

.hero-image {
  width: 353px;
}

.highlight p {
  bottom: 70px;
  font-size: 28px;
  margin-top: 100px;
  font-family: 'Montserrat', sans-serif;
}

.highlight {
  text-align: center;
}

.grid-highlight {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 4rem;
}

.grid-item {
  position: relative;
  text-align: center;
  color: white;
}

.grid-item img {
  max-width: 350px;
  border-radius: 15px;
}

.grid-item:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.grid-item .text {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 60rem;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}