<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/cadastro-endereco.css" />
    <link rel="stylesheet" href="../css/home.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/endereco.css" />


    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet" />
    <script src="../script/cadastro-endereco.js"></script>
    <title>Home</title>
</head>

<body>
    <div class="sidebar">
        <ul>
            <li href="#">
                <img src="../img/list.svg" alt="" class="list-sidebar">
            </li>
            <li href="#">
                <a href="">
                    <img src="../img/create_address.svg" alt="" class="create-address">
                </a>
            </li>
        </ul>
    </div>
    <main class="content">
        <header class="header">
            <a href="../index.html" class="logo">Japa impactante</a>
        </header>
        <div class="container">
            <div class="list-header">
                <h3>
                    Endereços Salvos
                </h3>
            </div>
            <ul class="list_address">
                <li>
                    <details>
                        <summary>
                            <img src="../img/setinha_listagem.svg" alt="">
                            <div class="more_address_infos">
                                <div >
                                    <b>
                                        Titulo:
                                    </b>
                                    <span>
                                        Minha casa
                                    </span>
                                </div>
                                <div>
                                    <b>
                                        Endereço:
                                    </b>
                                    <span>
                                        Rua Brazópolis Jardim Jaú (Zona Leste)"
                                    </span>
                                </div>
                                <div class="space-svg">
                                    <button>
                                        <img src="../img/lixo.svg" alt="">
                                    </button>
                                    <button>
                                        <img src="../img/edit.svg" alt="">
                                    </button>
                                </div>
                            </div>
                        </summary>hhhhh
                    </details>
                </li>
                <li>
                    <details>
                        <summary>
                            <img src="../img/setinha_listagem.svg" alt="">
                            <div class="more_address_infos">
                                <div >
                                    <b>
                                        Titulo:
                                    </b>
                                    <span>
                                        Minha casa
                                    </span>
                                </div>
                                <div>
                                    <b>
                                        Endereço:
                                    </b>
                                    <span>
                                        Rua Brazópolis Jardim Jaú (Zona Leste)"
                                    </span>
                                </div>
                                <div class="space-svg">
                                    <button>
                                        <img src="../img/lixo.svg" alt="">
                                    </button>
                                    <button>
                                        <img src="../img/edit.svg" alt="">
                                    </button>
                                </div>
                            </div>
                        </summary>hhhhh
                    </details>
                </li>
            </ul>
        </div>
    </main>
</body>

</html>